html{
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
    
    background: 
    linear-gradient(
        90deg in oklch,
        #dcdba1 0%,
        #f3f2b8 20%,
        #f3f2b8 80%,
        #dcdba1 100% 
      );
}

main:after {
    display: block;
    height: 100px;
}

header {
    background:gold;
    text-align: center;
    position: sticky;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0;   
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: large;
    transition-duration: 0.2s;
}

nav ul li a:hover {
    color:white;
    text-shadow: 0 0 40px black;
}

.nav-container ul li.active a {
    color:#007bff; /* Different color for active link */
    font-weight: bold; /* Bold text for active link */
    border-bottom: 2px solid #007bff; /* Add bottom border to active link */
    border-top: 2px solid #007bff; 
}

h2 {
    align-self: center;
}

section {
    text-align: center;
}

.btn {
    padding: 0.8rem 1rem;
    background:gold;
    color: black;
    border-radius: 5px;
    transition-duration: 0.2s;    
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    align-self: center; /* Centers the button */
}

.btn:hover {
    color: rgb(211, 152, 3);
    border-color: gold;
    background-color:whitesmoke;
    font-weight: bold;
    box-shadow: 0 0 30px gold;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.1px;   
    background: gold;
    color: black;
    text-align: center;
}